@import "../../Colors.scss";

.Button {
  color: black;
  border: none;
  box-shadow: 1px 5px 5px black;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
  &:active {
    box-shadow: 5px 5px 6px white;
  }
}
