@import "../../Colors.scss";

.toast {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-align: center;

  &.success {
    background-color: $success-color;
    // left: 20%;
    bottom: 2.4rem;
    width: 5rem;
    animation: myAnim 3s linear 0s 1 normal none;
  }

  &.error {
    background-color: $error-color;
    // left: 40%;
    bottom: 4.8rem;
    width: 5rem;
    animation: myError 2s ease 0s 3 normal none;
  }

  &.info {
    background-color: $info-color;
    // left: 60%;
    width: 5rem;
    animation: myAnim 3s linear 0s 1 normal none;
  }
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes myError {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}
