@import "/src/Colors.scss";

.sidebarBox {
  background-color: $success-color;
  color: $info-color;
  width: 1rem;
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  left: 0;

  &:hover,
  &.expanded {
    width: 20rem;
    position: fixed;

    .sidebar ul {
      max-height: 100vh;
      padding: 1rem 0;
      opacity: 1;
      visibility: visible;
    }
  }
  .sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    ul {
      max-height: 100vh;
      overflow: hidden;
      list-style-type: none;
      margin: 0;
      padding: 0;
      opacity: 0;
      visibility: hidden;
      transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.5s ease,
        visibility 0.5 ease;

      li {
        display: flex;
        align-items: center;
        padding: 1rem;
        margin-top: 1rem;
        transition: margin-top 0.3s ease;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}
