$success-color: rgb(15, 209, 15);
$error-color: rgb(250, 0, 0);
$info-color: rgb(0, 153, 255);

$accordion-text-color: rgb(0, 0, 0);
$accordion-background-color: rgb(238, 238, 150);
$accordion-text-background-color: rgb(224, 224, 104);

$notabutton-white: white;
$notabutton-black: black;
