@import "../../Colors.scss";

.Accordion {
  display: flex;
  flex-direction: column;
  width: 40rem;

  .title {
    text-align: center;
    display: flex;
    background-color: $accordion-background-color;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    .header {
      color: $accordion-text-color;
      .showIfCollapsed {
        color: $accordion-text-color;
        font-weight: 800;
      }
    }
  }

  .text {
    color: $accordion-text-color;
    background-color: $accordion-text-background-color;
    border: 1px solid black;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }

  .text.show {
    height: auto;
    max-height: 20rem;
    color: $accordion-text-color;
    background-color: $accordion-text-background-color;
    padding: 1rem;
  }
}
